__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg
.pytest_cache/
.ruff_cache/
*.png
*.html
*.svg
!assets/svg-examples/*.svg
!assets/vega-examples/*.json

.private/
# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml

.DS_Store
